gunicorn
Flask
flask-cors
python-dotenv
requests>=2.32.3
psutil
edge-tts
pygame
Pillow
beautifulsoup4
groq
cohere
mtranslate
googlesearch-python
yt-dlp
supabase
psycopg2-binary
opencv-python
numpy
keyboard
mss
appopener
pywhatkit
selenium
webdriver-manager
